.dark-green {
	color: $dark-green;
}
.salmon {
	color: $salmon;
}
.light-pink {
	color: $light-pink;
}
.light {
	color: $light-white;
}

.blue {
	color: $blue;
}
.dark-blue {
	color: $dark-blue;
}
.brown {
	color: $brown;
}

.black {
	color: $black;
}
.grey {
	color: $grey;
}

.light-grey {
	color: $light-grey;
}
.dark-green {
	color: $dark-green;
}

.bg-black {
	background-color: $black;
}
.bg-blue {
	background: $blue;
}
.bg-green {
	background: $green;
}

.bg-light {
	background: $light-white;
}

.hidden {
	display: none;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}

.hiddenM {
	@include max-screen(724px) {
		display: none;
	}
}

.wrapper {
	max-width: $max-width;
	padding: 0 30px;
	margin: 0 auto;
}
.mt-minus-50 {
	margin-top: -50px;
}
