.bac {
	margin-top: -10px;
	padding: 50px 40px;
	position: relative;
	&__title {
		margin-bottom: 15px !important;
	}
	&__subtitle {
		margin-bottom: 25px;
	}
	&:before {
		content: '';
		width: 100%;
		height: 700px;
		background-image: linear-gradient(
			180deg,
			transparent 0%,
			$light-white 100%
		);
		position: absolute;
		top: -700px;
		left: 0;
	}
}
