.booking-form {
	position: relative;
	&.form-bottom {
		&:before {
			content: url('./assets/img/curve-black-1440.svg');
			top: -180px;
			@include min-screen(1441px) {
				content: url('./assets/img/curve-black-3000.svg');
				top: -375px;
			}
			position: absolute;
			left: 0;
		}
		margin-top: 75px;
		@include min-screen(1441px) {
			margin-top: 200px;
		}
	}
	.wrapper {
		max-width: 900px;
		@include min-screen($m) {
			@include flexbox;
		}

		> * {
			flex-basis: 50%;
		}
	}

	&__text {
		@include min-screen($m) {
			padding-right: 100px;
			text-align: right;
		}
	}
	&__form {
	}
	&__content {
		color: $light-pink;
		font-size: 1.8rem;
	}
	&__title {
		margin: 0 0 25px;
	}
	padding: 100px 0 150px;
}
