.booking-form {
	&.no-content {
		padding-top: 0;
		margin-top: -70px;
		.wrapper {
			display: block;
		}
	}
	position: relative;
	&.form-bottom {
		&:before {
			content: '';
			background: url('./assets/img/curve-black-1440.svg');
			width: 100%;
			background-size: cover;
			position: absolute;
			top: -47px;
			height: 48px;
			@include min-screen(450px) {
				top: -75px;
				height: 76px;
			}
			@include min-screen($m) {
				top: -125px;
				height: 126px;
			}
			@include min-screen($l) {
				top: -180px;
				height: 181px;
			}
			@include min-screen(1440px) {
				top: -300px;
				height: 301px;
			}
		}
		.single-service & {
			margin-top: 75px;
		}

		@include min-screen(1441px) {
			margin-top: 200px;
		}
	}
	.wrapper {
		max-width: 900px;
		@include min-screen($m) {
			@include flexbox;
		}

		> * {
			flex-basis: 50%;
		}
	}

	&__text {
		@include min-screen($m) {
			padding-right: 100px;
			text-align: right;
		}
	}
	&__form {
		max-width: 400px;
		margin: 0 auto;
	}
	&__content {
		color: $light-pink;
		font-size: 1.8rem;
	}
	&__title {
		margin: 0 0 25px;
	}
	padding: 100px 0 150px;
}
