.button {
	display: inline-block;
	padding: 15px 15px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	transition: $transition4;

	@include min-screen($xs) {
		padding: 15px 30px;
	}

	font-family: 'Avenir';
	font-weight: 500;
	font-size: 1.4rem;

	font-size: 1.6rem;

	color: $light-pink;
	text-transform: uppercase;
	border-radius: 4px;
	border-bottom: 5px solid;
	letter-spacing: 2.4px;
	&:hover {
		color: $light-pink;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.75);
		transform: translateY(-5px) !important;
	}
	&--blue {
		background: $blue;
		border-color: $dark-blue;
		&:hover {
			background: lighten($blue, 5%);
		}
	}
	&--salmon {
		background: $salmon;
		border-color: $brown;
		&:hover {
			background: lighten($salmon, 5%);
		}
	}
	&--dark {
		background: $darkest-grey;
		border-color: $black;
		&:hover {
			background: lighten($darkest-grey, 2%);
		}
	}
	img {
		display: none;
		@include min-screen($xs) {
			display: inline;
		}
		@include min-screen($s) {
			margin-left: 40px !important;
		}
	}
}
.button--login {
	img {
		margin-left: 10px !important;
	}
}

.cta-button {
	padding-bottom: 100px;
}
