.decorated-title {
	padding: 50px 0 20px;
	h2 {
		position: relative;
		margin: 0;
		margin-left: 30px;
		max-width: 750px;
		z-index: 10;
		&:before {
			content: '';
			background: url('./assets/img/blue-triangle.svg');
			width: 100px;
			height: 99px;
			position: absolute;
			left: -33px;
			top: -15px;
			z-index: -1;
			@include min-screen($l) {
				left: -33px;
				top: -12px;
			}
		}
	}
	border-bottom: 5px solid $light-grey;
}
