.featured-sites {
	padding: 25px 0 100px;
	&.curve-black {
		.featured-sites__title {
			margin-bottom: 0;
			max-width: 600px;
		}
		position: relative;
		&:before {
			content: url('./assets/img/curve-black-1440.svg');
			top: -180px;
			@include min-screen(1441px) {
				content: url('./assets/img/curve-black-3000.svg');
				top: -375px;
			}
			position: absolute;
			left: 0;
		}
		margin-top: 100px;
		@include min-screen(1441px) {
			margin-top: 250px;
		}
	}
	&__title {
		max-width: 880px;
		margin: 0 auto 50px;
	}
	&__container {
		@include flexbox;
	}
	&__item {
		flex-basis: 50%;
		font-size: 2.6rem;
		text-align: center;
		margin-bottom: 20px;
		@include min-screen($s) {
			flex-basis: 33%;
		}
		@include min-screen($m) {
			flex-basis: 20%;
		}
	}
}
