.featured-posts {
	margin: 80px 0;
	h5 {
		margin: 0 0 10px;
	}
	&__container {
		@include min-screen(915px) {
			@include flexbox(start, row wrap);
		}
	}
	&__item {
		flex-basis: 50%;
		padding-right: 15px;
		margin-bottom: 15px;

		&--wrap {
			background: #ebe8dc;
			padding: 37px 45px 0;
			border-radius: 4px;
			box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-bottom: none;
		}
	}
	.tease-post__read-more {
		border-bottom: none;
		&--text {
			color: $salmon;
		}
		&--icon {
			background: $salmon;
		}
	}
}
