.fixed-menu {
	position: fixed;
	left: 0;
	top: -30px;
	opacity: 0;
	width: 100%;
	background-color: $salmon;
	z-index: 100;
	transition: $transition4;
	visibility: hidden;
	&.active {
		top: 0;
		opacity: 1;
		visibility: visible;
	}

	&__right-item {
		position: absolute;
		right: -20px;
		top: 0;
		a {
			color: $black;
		}
	}

	&__nav {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		ul {
			margin: 0;
			padding: 0;
		}
		> ul {
			display: flex;
			justify-content: space-around;
			> .menu-item {
				&:hover {
					// > a {
					// 	color: $light-pink;
					// }

					&.menu-item-has-children {
						&:after {
							content: url(./assets/img/top-menu-arrow-white.svg);
						}
					}
					> ul {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.menu-item {
			position: relative;

			a {
				color: $black;
				font-size: 1.2rem;
				text-transform: uppercase;
				font-family: 'Avenir';
				font-weight: bold;
				&:hover {
					color: $light-pink;
				}
			}
			ul {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 28px;
				left: -30px;
				background: darken($salmon, 5%);
				width: auto;
				white-space: nowrap;
				transition: $transition;
				padding: 15px 40px 20px;
				z-index: 10;
				.top-menu-login {
					display: none;
				}
			}
			// &:hover {
			// 	ul {
			// 		opacity: 1;
			// 	}
			// }
		}
	}
	.menu-item-has-children {
		&:after {
			content: url(./assets/img/top-menu-arrow.svg);
			position: absolute;
			top: 0;
			right: -20px;
		}
	}
	.top-menu-login a {
		color: #932c20;
	}
}
