input[type='submit'] {
	padding: 18px 15px;
	background: $salmon;
	@include min-screen($xs) {
		padding: 18px 30px;
	}
	border: none;
	border-bottom: 5px solid $brown;
	width: 97% !important;
	transition: $transition;
	cursor: pointer;
	&:hover {
		background: lighten($salmon, 5%);
	}
	margin-top: 20px !important;
}
input[type='text'],
textarea {
	background: transparent;
	border: none;
	border-bottom: 4px solid rgba($grey, 0.3);
	color: $grey;
	padding-left: 15px !important;
	padding-right: 0;
}
textarea {
	height: 140px !important;
}
label {
	color: $grey;
	font-size: 1.6rem;

	transform: translate(15px, 30px);
	transition: $transition4;
	&.is-active {
		transform: translate(0);
		font-size: 1.2rem !important;
	}
}
.gfield_required {
	color: $salmon !important;
}
input {
	outline: none;
}
.ginput_container_select {
	border-bottom: 4px solid rgba($grey, 0.3);
	padding-bottom: 18px;
	padding-left: 10px;
	select {
		background: $black;
		border: none;
		color: $grey;
	}
}
