.hero {
	padding: 90px 0;
	.page-template-services & {
		height: 430px;
	}
	height: 500px;
	&__content {
		margin: 14px 0 0;
	}
	&__buttons {
		.button {
			display: inline-block;
			// margin-right: 10px;
			// margin-bottom: 10px;
			margin: 35px 0;
		}
	}
	.wrapper {
		z-index: 10;
	}
}

.hero-single {
	height: 800px;
	padding: 50px 0;
	z-index: -2;
	position: relative;
	background-image: linear-gradient(
		180deg,
		$black 0%,
		$black 9%,
		rgba(33, 35, 43, 0) 100%
	);
	.wrapper {
		max-width: 880px;
		margin: 0 auto;
	}
}

.hero-meta {
	@include flexbox;
	a {
		color: $grey;
	}
	padding-bottom: 10px;
	border-bottom: 1px solid darken($dark-grey, 25%);
	margin-bottom: 15px;
	.article-body & {
		border: none;
	}
	&__cat {
		a {
			margin-right: 2px;
			&:after {
				content: ',';
				margin-right: 3px;
			}
			&:last-child {
				&:after {
					content: none;
				}
			}
		}
	}
}
.hero,
.hero-single {
	position: relative;
	&:after {
		content: url('./assets/img/curve-beige-1440.svg');
		// background:  no-repeat;
		width: 100%;
		height: 314px;
		position: absolute;
		left: 0;
		bottom: -160px;
		@include min-screen(1441px) {
			content: url('./assets/img/curve-beige-3000.svg');
			bottom: 63px;
		}
	}
}

.blog,
.home,
.archive,
.single-service,
.page-template-services {
	.hero {
		&:after {
			content: none;
		}
	}
}
