.hero {
	@include max-screen($m) {
		padding-bottom: 50px !important;
	}
	padding: 90px 0 1px;
	.page-template-services & {
		min-height: 430px;
	}
	.careers-page & {
		min-height: 500px;
		padding-top: 150px;
	}
	.home & {
		@include min-screen($m) {
			min-heigt: 700px;
		}
	}
	// min-height: 500px;
	&__content {
		margin: 14px 0 0;
	}
	&__buttons {
		.button {
			display: inline-block;
			// margin-right: 10px;
			// margin-bottom: 10px;
			@include min-screen($m) {
				margin: 35px 0;
			}
			margin: 10px 0;
		}
	}
	.wrapper {
		z-index: 10;
	}
}

.hero-single {
	min-height: 800px;
	padding: 50px 0;
	// z-index: -2;
	position: relative;
	background-image: linear-gradient(
		180deg,
		$black 0%,
		$black 9%,
		rgba(33, 35, 43, 0) 100%
	);
	.wrapper {
		max-width: 880px;
		margin: 0 auto;
	}
}

.hero-meta {
	@include flexbox;
	a {
		color: $grey;
	}
	padding-bottom: 10px;
	border-bottom: 1px solid darken($dark-grey, 25%);
	margin-bottom: 15px;
	.article-body & {
		border: none;
	}
	&__cat {
		a {
			margin-right: 2px;
			&:after {
				content: ',';
				margin-right: 3px;
			}
			&:last-child {
				&:after {
					content: none;
				}
			}
		}
	}
}
.hero,
.hero-single {
	position: relative;
	&:after {
		content: '';
		background: url('./assets/img/curve-beige-1440.svg');
		width: 100%;
		height: 160px;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 10;
		background-size: cover;
		@include min-screen(1775px) {
			height: 200px;
		}
	}
}

.blog,
.home,
.archive,
.single-service,
.page-template-default,
.page-template-login,
.page-template-account,
.page-template-account-info {
	.hero {
		&:after {
			content: none;
		}
	}
}
