.pagination {
	// TODO: fix pagination last
	@include flexbox(start, row nowrap);
	margin-top: 140px;
	padding-left: 0;
	li {
		color: $white;
		font-size: 2.4rem;
		padding-right: 100px;
		&:nth-last-child(2),
		&:nth-last-child(3) {
			display: none;
		}
		&.current {
			span {
				background: $blue;
				height: 70px;
				width: 70px;
				border-radius: 50%;
				display: inline-block;
				@include flexbox(center, row nowrap);
				align-items: center;
				margin-top: -15px;
			}
		}
		&.last {
			text-transform: uppercase;
			letter-spacing: 4.8px;
			&.disabled {
				color: $light-grey;
			}
		}
		a {
			color: $grey;
		}
	}
}
