.tease-post {
	// TODO: hover colors
	// TODO: responsive to discuss with Tim
	margin-bottom: 77px;
	@include min-screen($l) {
		@include flexbox;
	}

	* {
	}
	&__media {
		flex-basis: 45%;
		padding-right: 15px;
		position: relative;
		img {
			box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
			border-radius: 4px;
		}
	}
	&__badge {
		color: $white;
		font-size: 10px;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 20px;
		line-height: 24px;
		border-radius: 4px;
		position: absolute;
		top: -12px;
		left: 20px;
	}
	&__content {
		flex-basis: 55%;
		position: relative;
		&--bottom {
			position: absolute;
			bottom: 0;
		}
	}

	&__title {
		line-height: 1.4;
		margin-bottom: 50px;
		a {
			color: $dark-green;
		}
	}

	&__cat {
		margin-top: -8px;
		margin-bottom: 15px;
		a {
			color: $blue;
			font-size: 1.2rem;
		}
	}
	&__read-more {
		position: relative;
		&--icon {
			display: inline-block;
			background: $blue;
			width: 38px;
			height: 37px;
			border-radius: 4px 4px 0 0;
			@include flexbox(center, row nowrap);
			align-items: center;
			float: left;
			margin-right: 10px;
		}
		&--text {
			display: inline-block;
			float: left;
			margin-top: 10px;
			color: $blue;
		}
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: $light-grey;
			position: absolute;
			bottom: -37px;
			left: 38px;
		}
	}
}
.post-meta {
	.tease-post & {
		margin-top: 20px;
	}
	color: $dark-grey;
	font-size: 1.2rem;
	div {
		margin-right: 10px;
		display: inline;
	}
	float: left;
	&__icon {
		position: relative;
		top: -1px;
	}
}
