.tease-post {
	// TODO: hover colors
	margin-bottom: 77px;
	@include min-screen(1010px) {
		@include flexbox;
	}

	&__media {
		flex-basis: 45%;
		padding-right: 15px;
		position: relative;
		img {
			box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
			border-radius: 4px;
		}
	}
	&__badge {
		color: $white;
		font-size: 10px;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 20px;
		line-height: 24px;
		border-radius: 4px;
		position: absolute;
		top: -12px;
		left: 20px;
		.article-content & {
			left: initial;
			right: 150px;
		}
	}
	&__content {
		flex-basis: 55%;
		position: relative;
		&--bottom {
			@include min-screen(1010px) {
				position: absolute;
				bottom: 0;
			}
		}
	}

	&__title {
		line-height: 1.4;
		margin-bottom: 50px;
		a {
			color: $dark-green;
		}
	}

	&__cat {
		margin-top: 10px;
		display: inline-block;
		&:after {
			content: ',';
			color: $blue;
			margin-right: 7px;
		}
		&:last-child:after {
			content: none;
			margin-right: 0;
		}

		@include min-screen(1010px) {
			margin-top: -8px;
			margin-bottom: 15px;
		}

		a {
			color: $blue;
			font-size: 1.2rem;
		}
	}
	&__read-more {
		position: relative;
		border-bottom: 1px solid $light-grey;
		width: 300px;
		a {
			@include flexbox(start, ro nowrap);
		}
		a:hover {
			.tease-post__read-more--icon {
				background: $dark-blue;
			}
			.tease-post__read-more--text {
				color: $dark-blue;
			}
		}
		&--icon {
			display: inline-block;
			background: $blue;
			width: 38px;
			height: 37px;
			border-radius: 4px 4px 0 0;
			@include flexbox(center, row nowrap);
			align-items: center;
			// float: left;
			margin-right: 10px;
			transition: $transition;
			&:hover {
				background: $dark-blue;
			}
		}
		&--text {
			display: inline-block;
			// float: left;
			margin-top: 10px;
			color: $blue;
			transition: $transition;
			&:hover {
				color: $dark-blue;
			}
		}
	}
}
.post-meta {
	.tease-post & {
		margin-top: 20px;
	}
	color: $dark-grey;
	font-size: 1.2rem;
	div {
		margin-right: 10px;
		display: inline;
	}
	float: left;
	&__icon {
		position: relative;
		top: -1px;
	}
}

//inner posts

.small-posts-wrapper,
.category .posts-wrapper {
	@include min-screen(1010px) {
		@include flexbox;
	}
}
.tease-post--small,
.category .tease-post {
	flex-basis: 33%;
	display: block;
	.tease-post__cat {
		margin-top: 10px;
	}
	.tease-post__content--bottom {
		position: relative;
		margin-top: 30px;
	}
	.tease-post-title {
		margin-bottom: 30px;
	}
}
