.report {
	background: $medium-blue;
	border-radius: 4px;
	padding: 50px 30px 60px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
	margin-bottom: 50px;
	text-align: center;

	&__button {
		margin-top: 50px;
	}
	&__subtitle {
		margin-top: 20px;
	}
	.gfield,
	.gform_footer {
		max-width: 350px;
		margin: 0 auto;
		padding: 0 !important;
		text-align: center;
	}
	input[type='submit'] {
		background: $green;
		border-color: darken($green, 10%);

		&:hover {
			background: lighten($green, 2%);
		}
	}
	.dlm-nf-download-link {
		display: inline-block;
		padding: 15px 15px;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
		transition: $transition4;

		@include min-screen($xs) {
			padding: 15px 30px;
		}

		font-family: 'Avenir';
		font-weight: 500;
		font-size: 1.4rem;

		font-size: 1.6rem;

		text-transform: uppercase;
		border-radius: 4px;
		border-bottom: 5px solid;
		letter-spacing: 2.4px;
		background: $green;
		border-color: darken($green, 10%);
		a {
			color: $light-pink;
		}
		&:hover {
			background: lighten($green, 2%);
			box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.75);
			transform: translateY(-5px) !important;
		}
	}
	.gform_wrapper form li, .gform_wrapper li{
		margin: 0 auto 10px!important;
	}
	.gform_wrapper .gform_footer{
		margin:0 auto;
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit]{
		margin:0;
	}
	.gform_button button{
		margin:20px;
	}
	/*.gform_wrapper .top_label .gfield_label{
		display: inline;
	}*/
	.gform_wrapper .top_label input.medium{
		width:100%!important;
	}
	input[type='submit'] {
		@include min-screen($xs) {
			padding: 18px 20px;
		}
	}
}
