.slide-menu {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	// display: none;
	&.isOpen {
		display: block;
		transform: translateX(0);
	}
	width: 100%;
	padding: 50px;
	transition: $transition;
	@include min-screen(545px) {
		width: 545px;
	}
	&__close {
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
	}
	&__nav {
		ul {
			padding: 0;
			margin-bottom: 100px;
			.menu-item {
				padding: 10px 0;
				font-size: 4.2rem;
			}
			ul {
				display: none;
			}
		}
	}
	&__social {
		margin-bottom: 100px;
		.fa {
			font-size: 5rem;
			margin-right: 25px;
			&:hover {
				color: $primary-color;
			}
		}
	}
}
