.steps {
	padding-bottom: 100px;
	.wrapper {
		max-width: 1130px;
	}
	&__title {
		margin-top: 0;
		span {
			color: $light-pink;
		}
	}
	&__steps {
		margin-top: 80px;
	}
	&__item {
		@include min-screen($s) {
			@include flexbox(start, row nowrap);
		}

		align-items: center;
		margin-bottom: 40px;
	}
	&__icon {
		padding-right: 45px;
		@include max-screen($s) {
			margin-bottom: 20px;
		}
		img {
			max-width: 74.19px;
		}
	}
	&__brick {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		@include min-screen(650px) {
			justify-content: space-around;
		}
		text-align: center;

		margin-top: 30px;
	}
	.brick-word {
		font-size: 1.8rem;
		color: $light-pink;
		padding-right: 15px;
		@include max-screen(650px) {
			margin-bottom: 15px;
		}

		span {
			font-family: 'Avenir';
			font-weight: 900;
			color: $salmon;
			margin-right: 5px;
		}
	}
}
