.title-cols {
	padding: 50px 0 100px;
	&__intro {
		margin-top: 25px;
	}
	&__cols-wrap {
		@include min-screen(600px) {
			@include flexbox(start, row wrap);
		}
	}
	&__item {
		flex-basis: 50%;
		padding-right: 25px;
		@include min-screen($l) {
			flex-basis: 33%;
		}
	}
	&__cta {
		margin: 50px 0;
		display: inline-block;
	}
}
