@font-face {
	font-family: 'Avenir';
	src: url('assets/fonts/Avenir-Black.eot');
	src: url('assets/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Avenir-Black.woff2') format('woff2'),
		url('assets/fonts/Avenir-Black.woff') format('woff'),
		url('assets/fonts/Avenir-Black.ttf') format('truetype'),
		url('assets/fonts/Avenir-Black.svg#Avenir-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Book';
	src: url('assets/fonts/Avenir-Book.eot');
	src: url('assets/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Avenir-Book.woff2') format('woff2'),
		url('assets/fonts/Avenir-Book.woff') format('woff'),
		url('assets/fonts/Avenir-Book.ttf') format('truetype'),
		url('assets/fonts/Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('assets/fonts/Avenir-Medium.eot');
	src: url('assets/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Avenir-Medium.woff2') format('woff2'),
		url('assets/fonts/Avenir-Medium.woff') format('woff'),
		url('assets/fonts/Avenir-Medium.ttf') format('truetype'),
		url('assets/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}
body {
	font-family: $base-font;
	@include min-screen($m) {
		font-size: $base-font-size;
	}
	font-size: $base-font-size-m;
	color: $base-color;
	background: $base-bg;
	line-height: 1.5;
}

a {
	transition: $transition;
	text-decoration: none;
	color: $accent-color;
	&:hover {
		color: $accent-color;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}
.text-justify {
	text-align: justify;
}

strong,
b,
.bold {
	font-family: 'Avenir';
	font-weight: 900;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	font-family: 'Avenir';
	a {
		font-family: 'Avenir';
		font-weight: 900;
	}
}

.h2-font56 {
	@include min-screen($m) {
		font-size: 5.6rem;
	}
	font-size: 4.2rem;
}
.h1-font42 {
	@include min-screen($m) {
		font-size: 4.2rem;
	}
	font-size: 3.2rem;
}

.h3-font32 {
	font-size: 2.2rem;
	@include min-screen($s) {
		font-size: 2.4rem;
	}
	@include min-screen($m) {
		font-size: 3.2rem;
	}
}

.h4-font21 {
	@include min-screen($m) {
		font-size: 2.1rem;
	}
	font-size: 1.8rem;
}

.text-small {
	font-size: 1.2rem;
}

.uppercase {
	text-transform: uppercase;
}

.blog-intro {
	font-size: 2.8rem;
	color: $dark-blue;
	position: relative;
	margin: 50px 0;

	.text {
		z-index: 10;
	}
	&:before {
		content: '';
		background: url('./assets/img/blue-triangle.svg');
		width: 100px;
		height: 99px;
		position: absolute;
		left: -15px;
		top: -15px;
		@include min-screen($m) {
			left: -30px;
			top: -30px;
		}

		z-index: 9;
	}
}

blockquote {
	color: $salmon;
	font-family: 'Avenir';
	font-weight: 900;
	font-size: 2.4rem;
	line-height: 3.2rem;
	margin: 0 auto;
	position: relative;
	padding-left: 20px;
	max-width: 500px;
	max-width: 650px;

	border-left: 5px solid $salmon;
	@include min-screen($m) {
		&:after {
			content: '';
			background: url('./assets/img/quote.svg');
			width: 97px;
			height: 52px;
			position: absolute;
			top: 0;
			right: -120px;
		}
	}
}
