// Colors

$white: #fff;
$black: #21232b;
$light-white: #faf5ef;
$light-grey: #dcd8cb;
$medium-grey: #707070;
$grey: #b5afa0;
$dark-grey: #707070;
$darkest-grey: #292929;
$light-pink: #21232b;
$light-blue: #21232b;
$blue: #21232b;
$dark-blue: #132d7f;
$dark-green: #0b354c;
$green: #3ea576;
$salmon: #dd6052;
$brown: #b14437;
$primary-color: #369;
$accent-color: tomato;
$base-color: $darkest-grey;
$base-bg: $light-white;

//Fonts
$base-font: 'Avenir', sans-serif;
$heading-font: 'Avenir', sans-serif;
$base-font-size: 2rem;
$base-font-size-m: 1.6rem;

//Transitions
$transition: all 0.4s ease-in-out;

//Widths:
$xs: 36rem;
$s: 48rem;
$m: 76.8rem;
$l: 102.4rem;
$xl: 128rem;

// Grid
$grid-columns: 12;

$xs-max: $s; // Set xs breakpoint's max width
$sm-max: $m; // Set sm breakpoint's max width
$md-max: $l; // Set md breakpoint's max width
$lg-max: $xl; // Set lg breakpoint's max width

$gutter: 1rem; // Set gutter size
