{% extends "blocks/_block-base.twig" %}
{% block contentBlock %}
    <div class="featured-posts {{ class }} ">
        <h3 class="font32 dark-blue bold">{{ block.title | e('esc_html')}}</h3>
        <div class="featured-posts__container">
            {% for item in block.posts %}
                <div class="featured-posts__item">
                    <div class="featured-posts__item--wrap">
                        <h5>
                            <a class="dark-blue" href="{{ item.link | e('esc_url')}}">{{ item.title | e('esc_html')}}</a>
                        </h5>
                        {% include "partial/read-more.twig" %}
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>
{% endblock %}
