{% extends "blocks/_block-base.twig" %}
{% block contentBlock %}
    <div class="featured-sites {{ class }}">
        <div class="wrapper">
            <div class="featured-sites__title font42 bold salmon text-center">{{ block.title | e('esc_html')}}</div>
            {% if block.sites %}
                <div class="featured-sites__container">
                    {% for item in block.sites %}
                        <div class="featured-sites__item bold grey"><img src="{{ TimberImage(item.logo) | e('esc_url')}}" alt=""></div>

                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
