{% extends "blocks/_block-base.twig" %}
{% block contentBlock %}
    <div class="featured-posts {{ class }} ">

        <h3 class="font32 dark-blue bold featured-posts__title">{{ block.title | e('esc_html')}}</h3>
        <div class="featured-posts__container">
            {% for item in block.posts %}

                <div class="featured-posts__item">
                    <a href="{{ item.link | e('esc_url')}}">
                        <div class="featured-posts__item--wrap">
                            <h5>
                                {{ item.title | e('esc_html')}}
                            </h5>
                            {% include "partial/read-more.twig" %}
                        </div>
                    </a>
                    {# TODO: link wrap problem #}
                </div>


            {% endfor %}
        </div>

    </div>
{% endblock %}
