{% extends "blocks/_block-base.twig" %}
{% block contentBlock %}
    <div class="openings {{ class }}">
        <div class="openings__header">
            <div class="bold uppercase black">Positions</div>
            <div class="bold uppercase black">Status</div>
        </div>
        {% for item in block.openings %}
            <div class="openings__item">
                <div class="brown bold">{{ item.position | e('esc_html')}}</div>
                <div class="brown bold">{{ item.status | e('esc_html')}}</div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
