{% extends "blocks/_block-base.twig" %}
{% block contentBlock %}
    <div class="text-image bg-black {{ class }}">
        <div class="wrapper">
            {% for item in block.text_image %}
                <div class="text-image__item">
                    <div class="text-image__text">
                        <h2 class="font42 bold light-pink text-image__title">{{ item.text | e('esc_html')}}</h2>
                        {% if item.subtext %}
                            <div class="text-image__subtext">{{ item.subtext | e('esc_html')}}</div>
                        {% endif %}
                    </div>
                    <div class="text-image__image">
                        <img src="{{ TimberImage(item.image) | e('esc_html')}}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
