.page-template-account-info {
	color: $black;
	.gform_login_widget {
		p {
			display: none;
		}
		a {
			background: #31333c;
			color: #ffeae1;
			margin: 30px auto;
			display: block;
			width: 150px;
			text-align: center;
			padding: 12px;
			border-radius: 4px;
			text-transform: uppercase;
			font-size: 1.6rem;
			letter-spacing: 2.4px;
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
			transition: $transition4;
			&:hover {
				box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.75);
				transform: translateY(-5px) !important;
				background: darken(#31333c, 3%);
			}
		}
	}
}

.account-info {
	&__item {
		font-size: 1.6rem;
		h4 {
			color: $black;
		}
	}
	&__plan {
		background-color: $salmon;
		padding: 20px;
		border-radius: 3px;
		opacity: 0.5;
		font-size: 1.8rem;
		margin-bottom: 20px;
		&.active {
			opacity: 1;
		}
	}
}
.account-info__item {
	h4 {
		margin: 30px 0 0;
	}
	color: $black;
}
.green-link {
	color: $green !important;
	margin-left: 5px;
}

.spacer {
	width: 100%;
	height: 2px;
	background-color: #f5efe7;
	margin: 40px auto;
}
.cancel-link,
.upgrade-link {
	margin-bottom: 50px;
	margin-left: 50px;
	display: block;
}
