.page-template-account {
	.hero__buttons {
		display: none;
	}
	.hero {
		min-height: 200px;
	}
	.booking-form {
		background: $light-white;
		&__form {
			max-width: 590px;
		}
		li {
			border-bottom: none;
		}
		.gsection_title {
			font-size: 3.2rem;
		}
	}
	.gform_wrapper
		li.gfield.gfield_creditcard_warning
		div.gfield_creditcard_warning_message {
		display: none;
	}
	.gform_wrapper li.gfield.gfield_creditcard_warning {
		border: none;
		background: transparent;
	}
	input[type='text'],
	input[type='password'] {
		color: $medium-grey !important;

		border-bottom: 4px solid rgba($medium-grey, 0.3);
		color: #000 !important;
	}
	.ginput_container_email {
		input {
			color: $green !important;
			border-color: $green;
		}
	}
	.gfield_description {
		font-size: 1.4rem;
		background: #fff;
		padding: 14px !important;
	}
}

.account-menu {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 30px;
	border-bottom: 1px solid $light-grey;
	margin-bottom: 100px;
	&__item,
	span {
		color: $medium-grey;
		font-size: 1.2rem;
		padding: 0 3px;
		&.current,
		&:hover {
			color: $salmon;
		}
	}
}
.login-page {
	.hero {
		min-height: 200px;
	}
}
