.agency-page,
.industries-page {
	.hero {
		min-height: 200px;
		padding-bottom: 0;
	}
	.steps {
		margin-top: -80px;
		&__intro {
			color: $grey;
			margin-top: 30px;
		}
	}
	.agency-first {
		.text-image__item {
			margin-bottom: 50px;
		}
	}
	.cta-button {
		margin-top: -50px;
	}
	.image-block {
		padding-bottom: 180px;
	}
	.featured-sites {
		padding-top: 100px;
		@include max-screen(1440px) {
			padding-bottom: 200px;
		}
	}
	footer {
		margin-top: -62px;
	}
}

.work-page {
	.hero {
		min-height: 200px;
	}
	.text-image {
		padding-top: 0;
	}
	.title-cols {
		&__entity {
			&:last-child {
				@include max-screen(1440px) {
					padding-bottom: 100px;
				}
			}
		}
	}
}
.industries-page {
	.decorated-title,
	.decorated-title h2,
	.content-block,
	.benefits {
		max-width: 1125px;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
	}
	.decorated-title {
		margin-top: 50px;
	}
	.benefits {
		&__item {
			&:last-child {
				margin-bottom: 200px;
				@include min-screen(1440px) {
					margin-bottom: 350px;
				}
			}
		}
	}
	.font21 p {
		font-family: 'Avenir';
		font-weight: 500;
	}
}
