.contact-us-page {
	.hero {
		padding-bottom: 30px;
	}
	.text-image {
		padding-top: 0;

		&__item {
			margin-bottom: 0;
		}
	}
	.booking-form {
		padding-top: 0;
		&__text {
			margin-top: 30px;
			text-align: center;
			@include min-screen($m) {
				text-align: right;
			}
		}
		&__title {
			margin-bottom: 0;
		}
		&__content {
			margin-bottom: 25px;
		}
		@include max-screen($m) {
			margin-top: -30px;
		}
	}
	.hero__buttons {
		display: none;
	}
}
