.home {
	background: $light-white;
	.hero__title {
		opacity: 0;
	}
	.hero__buttons {
		.button--salmon,
		.button--blue {
			opacity: 0;
		}
	}
}
.home-animated-image {
	// padding-top: 50px;
	margin-bottom: 50px;
	@include min-screen($m) {
		margin-bottom: 100px;
	}

	position: relative;
	.big-image {
		width: 100%;
		height: auto;
		#triangle {
			// transform: translate(157px, -49px);
		}
	}

	// .home-triangle {
	// 	position: absolute;
	// 	bottom: -100px;
	// 	left: 150px;
	// 	transform-origin: center center;
	// 	transform: rotate(-30deg);
	// }
}

.home-2cols {
	margin-top: -100px;
	// padding-top: 100px;
	.wrapper {
		max-width: 900px;
		@include min-screen($m) {
			@include flexbox;
			padding-bottom: 200px;
		}
	}
	&__item {
		max-width: 600px;
		margin: 0 auto 100px;
		@include min-screen($m) {
			flex-basis: 50%;
			max-width: 360px;
			margin-bottom: 0;
			&:first-child {
				padding-right: 50px;
			}
		}
	}
	&__content {
		font-size: 1.8rem;
		margin-bottom: 70px;
	}
}
.home-asteroid {
	position: relative;
	@include max-screen(1199px) {
		margin-top: -100px;
	}
	@include max-screen($m) {
		padding-top: 50px;
	}

	@include screen(1200px, 1440px) {
		margin-bottom: -200px;
	}
	@include min-screen(1440px) {
		padding-top: 100px;
	}

	.wrapper {
		@include min-screen(1200px) {
			display: flex;
		}
	}
	&__bg {
		width: 300px;
		height: 300px;
		display: none;
		@include screen(1200px, 1440px) {
			display: block;
		}

		@include min-screen(1200px) {
			width: 800px;
			height: 800px;
		}

		background: rgba(0, 0, 0, 0.2);
		border-radius: 50%;
		transform: translate(80px, 150px);
		@include min-screen(1200px) {
			transform: translate(-50px, 80px);
		}

		z-index: -10;
		position: relative;
	}
	&__image {
		transform: translate(-70px, -56px);

		@include min-screen(1200px) {
			transform: translate(-180px, -120px);
		}
		@include max-screen(1199px) {
			margin-top: 50px;
		}
		position: relative;
		@include min-screen(1440px) {
			display: none;
		}
	}

	&__text {
		max-width: 600px;
		margin: 0 auto;
		@include max-screen(1440px) {
			flex-basis: 80%;
		}
		@include min-screen(1440px) {
			flex-basis: 50%;
		}

		order: 2;

		@include min-screen(1200px) {
			max-width: 360px;
			margin-bottom: 0;
			transform: translateX(-100px);
			margin-bottom: 100px;
		}
		@include min-screen(1440px) {
			transform: translate(100px, -100px);
		}
	}
}
.asteroid {
	z-index: 10;
	position: relative;
	@include screen(1200px, 1440px) {
		position: absolute;
		top: -94px;
		left: -153px;
	}
	// @include min-screen(1440px) {
	// 	top: -294px;
	// }

	@include max-screen(1199px) {
		width: 70%;
		// top: 278px;
		// left: 39px;
	}
	@include min-screen(1440px) {
		flex-basis: 50%;
		transform: translateY(-150px);
	}
}
.home-blue-section {
	background: $light-blue;
	position: relative;
	&:before {
		content: '';
		background: url('./assets/img/curve-blue-top.svg');
		background-size: cover;
		position: absolute;
		left: 0;
		width: 100%;
		height: 68px;
		top: -57px;
		@include min-screen($s) {
			height: 205px;
			top: -117px;
		}
		@include min-screen(1600px) {
			height: 202px;
			top: -201px;
		}
	}
	&:after {
		content: '';
		background: url('./assets/img/curve-blue-bottom.svg') no-repeat left bottom;
		background-size: cover;
		position: absolute;
		left: 0;
		width: 100%;
		height: 200px;
		bottom: -200px;
	}

	.wrapper {
		margin-bottom: -70px;

		@include min-screen($l) {
			display: flex;
		}
	}
	&__content {
		max-width: 600px;
		margin: 0 auto;
		flex-basis: 80%;
		transform: translateY(100px);
		@include min-screen($m) {
			max-width: 360px;
			margin-bottom: 0;
		}
		@include max-screen($l) {
			position: relative;
			top: -90px;
		}
	}
	&__image {
		position: relative;
		z-index: 10;
		transform: translateY(20px);

		@include min-screen($l) {
			transform: translate(200px, -100px);
		}
	}
	.button {
		background: $black;
		border-color: $salmon;
		&:hover {
			background: $dark-green;
		}
	}
}

.home {
	.featured-posts {
		margin: 0;
		// background: $light-white;
		position: relative;
		z-index: 1;
		padding-bottom: 80px;
		top: 68px;
		&:after {
			content: '';
			background: url(./assets/img/curve-beige-bottom.svg);
			background-size: cover;
			position: absolute;
			left: 0;
			width: 100%;
			height: 77px;
			bottom: -8px;
			z-index: -1;
			@include min-screen($s) {
				height: 136px;
				bottom: -67px;
			}
			@include min-screen($m) {
				height: 189px;
				bottom: -113px;
			}
			@include min-screen($l) {
				height: 265px;
				bottom: -139px;
			}
			@include min-screen(1600px) {
				height: 460px;
				bottom: -243px;
			}
		}

		&__container,
		&__title {
			max-width: 1125px;
			padding: 0 30px;
			margin: 0 auto;
			position: relative;
			top: 48px;
		}
		&__title {
			margin-bottom: 20px;
		}
	}
	.animated-text {
		background: $salmon;
		position: relative;
		padding-top: 268px;
		@include min-screen(1450px) {
			padding-top: 380px;
		}

		&__title {
			color: $brown;
		}
	}
	.featured-services {
		padding: 30px 0 100px;
		background-image: linear-gradient(#e47a70 50%, $light-white 50%);
		&__container {
			padding-bottom: 30px;
		}
	}

	.resources {
		position: relative;
		@include min-screen($m) {
			&:before {
				content: url(./assets/img/resources-bg.svg);
				position: absolute;
				top: -124px;
				right: -65px;
			}
		}
		@include min-screen(1440px) {
			padding-bottom: 300px;
		}
	}
	.booking-form.form-bottom {
		margin-top: 0;
	}
}
