.home-animated-image {
	padding-top: 100px;
	margin-bottom: 100px;
	position: relative;
	.big-image {
		width: 100%;
		height: auto;
	}
	.glasses {
		position: absolute;
		top: 40px;
		left: 37%;
	}
	.home-triangle {
		position: absolute;
		bottom: -100px;
		left: 150px;
		transform-origin: center center;
		transform: rotate(-30deg);
	}
}

.home-2cols {
	.wrapper {
		max-width: 900px;
		@include min-screen($m) {
			@include flexbox;
			padding-bottom: 200px;
		}
	}
	&__item {
		max-width: 600px;
		margin: 0 auto 100px;
		@include min-screen($m) {
			flex-basis: 50%;
			max-width: 360px;
			margin-bottom: 0;
			&:first-child {
				padding-right: 50px;
			}
		}
	}
	&__content {
		font-size: 1.8rem;
		margin-bottom: 70px;
	}
}
.home-asteroid {
	position: relative;
	@include min-screen($l) {
		margin-bottom: -200px;
	}

	.wrapper {
		@include min-screen($l) {
			display: flex;
		}
	}
	&__bg {
		width: 300px;
		height: 300px;
		@include min-screen($m) {
			width: 500px;
			height: 500px;
		}

		@include min-screen($l) {
			width: 800px;
			height: 800px;
		}

		background: rgba(0, 0, 0, 0.2);
		border-radius: 50%;
		transform: translate(80px, 150px);
		@include min-screen($l) {
			transform: translate(-50px, 80px);
		}

		z-index: -10;
		position: relative;
	}
	&__image {
		transform: translate(-70px, -56px);

		@include min-screen($l) {
			transform: translate(-180px, -120px);
		}
		position: relative;
	}

	&__text {
		max-width: 600px;
		margin: 0 auto;
		flex-basis: 80%;
		order: 2;

		@include min-screen($l) {
			max-width: 360px;
			margin-bottom: 0;
			transform: translateX(-100px);
			margin-bottom: 100px;
		}
	}
}
.asteroid {
	z-index: 10;
	position: absolute;
	@include max-screen($l) {
		width: 70%;
		top: 278px;
		left: 39px;
	}
	top: -111px;
	left: -200px;
}
.home-blue-section {
	background: $light-blue;
	padding-bottom: 100px;
	position: relative;
	// transform: translateY(-300px);
	&:before {
		content: url('./assets/img/curve-blue-top.svg');
		position: absolute;
		top: -100px;
		left: 0;
		@include min-screen(1450px) {
			content: url('./assets/img/curve-blue-top-3000.svg');
			top: -150px;
		}
	}

	.wrapper {
		@include min-screen($l) {
			display: flex;
		}
	}
	&__content {
		max-width: 600px;
		margin: 0 auto;
		flex-basis: 80%;
		transform: translateY(100px);
		@include min-screen($m) {
			max-width: 360px;
			margin-bottom: 0;
		}
	}
	&__image {
		transform: translate(200px, -100px);
	}
	.button {
		background: $black;
		border-color: $salmon;
		&:hover {
			background: $dark-green;
		}
	}
}

.home {
	.featured-posts {
		margin: 0;
		background: $light-white;
		position: relative;
		z-index: 1;
		&:after {
			content: url(./assets/img/curve-beige-bottom.svg);
			position: absolute;
			left: 0;
			bottom: -145px;
			z-index: -1;
			@include min-screen(1450px) {
				content: url(./assets/img/curve-beige-bottom-3000.svg);
				bottom: -294px;
			}
		}
		&:before {
			content: url(assets/img/curve-beige-top.svg);
			position: absolute;
			top: -374px;
			left: -62px;
			z-index: -1;
			@include min-screen(1450px) {
				content: url(assets/img/curve-beige-top-3500.svg);
				top: -755px;
			}
		}

		&__container,
		&__title {
			max-width: 1125px;
			padding: 0 30px;
			margin: 0 auto;
			position: relative;
			top: -140px;
		}
		&__title {
			margin-bottom: 20px;
		}
	}
	.animated-text {
		background: $salmon;
		position: relative;
		padding-top: 200px;
		@include min-screen(1450px) {
			padding-top: 270px;
		}

		&__title {
			color: $brown;
		}
	}
	.featured-services {
		padding: 30px 0 100px;
		background-image: linear-gradient(#e47a70 50%, $light-white 50%);
		&__container {
			padding-bottom: 80px;
		}
	}

	.resources {
		position: relative;
		&:before {
			content: url(./assets/img/resources-bg.svg);
			position: absolute;
			top: -124px;
			right: -65px;
		}
	}
	.booking-form.form-bottom {
		margin-top: 0;
	}
}
