body {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.lab {
	background: url('./assets/img/lab-bg.svg') no-repeat -10px 0;
	background-size: 101% auto;
	padding-top: 60px;

	.posts-wrapper {
		padding: 60px 30px;
		@include min-screen($s) {
			padding: 60px 55px;
		}

		background: $light-white;
	}
	&__dd {
		@include flexbox;
		padding: 0 60px 60px;
		> div {
			span {
				color: $light-pink;
				font-size: 1.6rem;
				letter-spacing: 1.4px;
			}
		}
		select {
			background: $light-white;
			border: none;
			text-transform: uppercase;
			font-size: 1.2rem;
			color: $black;
			height: 32px;
			font-family: 'Avenir';
			font-weight: 900;
		}
		//TODO: align dd labels to the left and make the filters work
		&--cats {
			select {
				width: 100%;
				@include min-screen($s) {
					// width: 360px;
				}
			}
		}
		&--sort {
			select {
				width: 100%;
			}
			@include min-screen($s) {
				// width: 250px;
			}
		}
	}
}

.page {
	.article-body {
		.wrapper {
			max-width: 1170px;
			position: relative;
			top: -120px;
			background: $light-white;
			padding: 0 30px;
			@include min-screen($m) {
				padding: 0 53px;
			}
		}
	}
}

.page-template-become-a-client {
	footer {
		display: none;
	}
}
