.single-post {
	.article-content {
		// background: $white;
		position: relative;
		.wrapper {
			position: relative;
			top: -120px;
			background: $light-white;
			padding-top: 15px;
		}
	}
	.article-body {
		z-index: 10;
		position: relative;
	}
	.content-block {
		max-width: 700px;
		margin: 0 auto;
	}
}
.blog-wave {
	position: absolute;
	left: 0;
	top: -166px;
	z-index: -1;
}
.wrap700 {
	max-width: 700px;
	margin: 0 auto;
}
.single-service {
	.text-image:first-of-type {
		padding-top: 20px;
	}
}
