{% extends "base.twig" %}
{% block content %}
    {% include "partial/hero.twig" %}
    <div class="account-menu uppercase bold">
        <a class="account-menu__item" href="/select-your-plan">1. Select plan</a>
        <span>/</span>
        <a class="account-menu__item current" href="#">2. Account setup</a>
        <span>/</span>
        <a class="account-menu__item" href="#">2. plan confirmation</a>
    </div>
    {% include "blocks/block-logic.twig" %}
{% endblock %}
