{% extends "base.twig" %}

{% block content %}
    {% include "partial/hero.twig" %}
    {% include "partial/_author-intro.twig" %}
    <section class="">


        <div class="wrapper posts-wrapper">

            {% for post in posts %}
                {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
            {% endfor %}

            {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3}) } %}
        </div>
    </section>
{% endblock %}
