<div class="fat-footer">
    <div class="wrapper">
        <div class="fat-footer__social">
            {% include "partial/social.twig" %}
        </div>
        <div class="fat-footer__menus">

            {{ fn('dynamic_sidebar', 'footer_menus') }}

        </div>
    </div>
</div>
<div class="footer bg-black">
    <div class="wrapper">
        <h3 class="footer__text font32 bold light-pink uppercase">
            we are foundation
        </h3>
    </div>
</div>
