<div class="cta text-center">
    <div class="cta__stars">
        <img src="{{ theme.path }}/assets/img/stars.svg" alt=""/>
    </div>
    <h2 class="cta__title font42 bold">
        {{ options.cta_title | e('esc_html')}}
    </h2>
    <div class="cta__content">{{ options.cta_content | e('esc_html')}}</div>
    {% include "partial/client-button.twig" %}
</div>
