<div class="hero-meta text-small">
    <div class="hero-meta__cat uppercase bold">
        {% for item in post.categories %}
            <a href="/category/{{item.slug}}">{{ item.name }}</a>
        {% endfor %}

    </div>
    {# TODO:find why the cat link is not clickable #}
    {% include "partial/post-meta.twig" %}
</div>
