<div class="hero-meta text-small">
    <div class="hero-meta__cat uppercase bold">
        <a href="#">{{ post.categories[0].name }}</a>
    </div>
    {# TODO:add cat link #}
    {% include "partial/post-meta.twig" %}
</div>
