<section class="hero bg-black">
    <div class="wrapper">
        {% set title = post.hero_title ?  post.hero_title | e('esc_html') :  post.title | e('esc_html') %}
        <h1 class="h1-font42 text-center light-pink bold no-margin">{{ title }}</h1>
        {% if post.hero_content %}
            <div class="hero__content text-center grey">{{ post.hero_content | e('wp_kses_post') |wpautop}}</div>
        {% endif %}
        <div class="hero__buttons text-center">
            <a class="button button--blue" href="#">Become a client</a>
            <a class="button button--dark" href="#">Login</a>
        </div>
    </div>
</section>
