<div class="tease-post__read-more uppercase text-small">
    <a href="{{ post.link }}">
        {% include "partial/read-more-icon.twig" %}
        <div class="tease-post__read-more--text">
            Read more
        </div>
    </a>
</div>
