<div class="header-search__icon">
    <img src="{{ theme.path }}/assets/img/lens.svg" alt="search">
</div>
<div class="header-search__sep salmon">|</div>
<div class="header-search__form">{{ fn("get_search_form") }}</div>
